@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9fafb; /* Cor de fundo clara */
  --foreground: #171717; /* Cor principal do texto */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', Arial, Helvetica, sans-serif; /* Fonte mais moderna */
  margin: 0;
  padding: 0;
  line-height: 1.6;
}
